[user]
	name = David Emerson
	email = d@nnix.com
	signingkey = ~/.ssh/id_d_nnix.pub
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
